@font-face {
    font-family: 'Goyang';
    src: url('resources/etc/Goyang.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	/* background-color:rgb(212, 244, 250); */
	background:url('../../img/Course/Back.jpg') 100% 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	
  	font-family:'Goyang', Goyang;
  	
  	overflow-x:hidden;
}

body::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar{ 
	width: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

header {
	width:110vw;
	height:5vh;

	background-color:white;
	
	left:0; right:0;
	margin-top:-1vh;
	
	padding-top:1vh;
	padding-bottom:1vh;
	
	border-top:solid 1vh #0C3E72;
	
	box-shadow: 7px 7px 20px rgb(119 119 119 / 60%);
	background-color: rgba(255, 255, 255, 0.7);
	
	position:absolute;
	
	z-index:100;
}

#Menu_Icon {
	
	width:2.8vw;
	height:5vh;
	
	z-index:500;
	margin-top:1vh;
	position:absolute;
}

#PF_Img {
	
	position: absolute;
	
	width:2.8vw;
	height:5vh;
	
	margin-left:47vw;
}

#Alarm_Img {
	
	position: absolute;
	
	width:2.8vw;
	height:5vh;
	
	margin-left:43vw;
	
	cursor:pointer;
}

#Making_Main {
	width:95vw;
	height:98vh;
	position:absolute;
}

#Start_Area {
	
	width:100%;
	height:100%;
	position:absolute;
	
	left:0; right:0; margin-left:auto; margin-right:auto;
	top:0; bottom:0; margin-top:auto; margin-bottom:auto;
	
	background: url('../../img/Course/Start_Page.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index:999;
}

#Save_Area {
	width : 350px;
	height: 460px;
	position:absolute;
	
	left:0; right:0; margin-left:auto; margin-right:auto;
	top:0; bottom:0; margin-top:auto; margin-bottom:auto;
	
	font-size:20px;
	
	background-color: rgba(255, 255, 255, 0.9);
	
	text-align:center;
	
	border:double white 5px;
	
	z-index:999;
}

#Black_Mask {
	width:100vw;
	height:100vh;
	position:absolute;
	
	left:0; right:0; margin-left:auto; margin-right:auto;
	top:0; bottom:0; margin-top:auto; margin-bottom:auto;
	
	background-color: rgba(0, 0, 0, 0.75);
	
	z-index:998;
}

#Content_Title {
	width: 200px;
	border: 3px solid #2125f8;
	padding: 0.5vh;
	height: 25px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #2125f8;
}

#Content_Tag {
	border: 3px solid #2125f8;
	width: 200px;
	height: 100px;
	padding: 0.5vh;
	border-radius: 5px 0 0 5px;
	color: #2125f8;
	resize:none;
}

.Btn {
    background-color: #2125f8;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 35px;
    cursor:pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */


#Select_Area {
  position: absolute;
  margin-left:5.75vw;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.15vw;
}

#Select_Area select {
  width:9.5vw;
  height:5vh;
  background-color: #2125f8;
  color: white;
  font-size: inherit;
  padding: .5em;
  padding-right: 1.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  text-align:center;
}

#Select_Area::before,
#Select_Area::after {
  content: "";
  position: absolute;
  pointer-events: none;
}


#Select_Area::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}


#Select_Area::before {
  background-color: rgba(0,0,0,.15);
}

#Select_Area::after {
  color: rgba(0,0,0,.4);
}

#Select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	
	font-family:'Goyang', Goyang;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Search_Wrap{
  width: 45%;
  position: absolute;
  top: 50%;
  margin-left: 90vw;
  transform: translate(-50%, -50%);
}

#Search_Area {
  width: 40%;
  position: relative;
  display: flex;
}

#Search_Input {
  width: 100%;
  border: 0.3vh solid #2125f8;
  border-right: none;
  padding: 0.5vh;
  height: 3vh;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2125f8;
}

#Search_Input:focus{
  color: #2125f8;
}

#Search_Icon {
  width: 3.5vw;
  height: 4.6vh;
  border: 0.3vh solid #2125f8;
  background: #2125f8;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.5vw;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.Close {
	position:absolute;
	
	width:1.5vw;
	height:1.5vw;
	
	margin-top:1%;
	margin-left:95.7%;
	
	z-index:49;
}

.Close:hover { cursor: crosshair; }

#Chat_Close { margin-left:88%; }

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Chat { 
	 min-width:20vw;
	 min-height:40vh;
	 position:absolute;
	
	 margin-left:78vw;
	 margin-top:53vh;
	
	 background-color: rgba(12,62,114,0.75);
	 border-radius: 20px;
	 border-top : 25px solid #150273;
	 
	 box-shadow: 7px 7px 20px rgb(119 119 119 / 60%);
}
#Chat_Icon {  
	z-index:50;
	cursor:pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Chat_Middle {
	width: 100%;
	height: 82.5%;
	
	overflow-y:scroll;
}

.Chat_One {
	width:80%;
	height:10%;
	
	margin-top:1.5vh;
}

.Your_PF {
	position:absolute;
	width:10%;
	height:10%;
	margin-left : 5%;
}

.My_PF {
	position:absolute;
	width:10%;
	height:10%;
	margin-left : 85.3%;
}

.Your_Chat { 
	position:absolute;
	margin-left:25%;
	background:#5ddddf;
}
.My_Chat { 
	position:absolute;
	margin-left:29%; 
	background:#2eacd6;
}
.Your_Chat:after {
	
	position: absolute;
	
	content: '';
	
	left: 0; top: 50%;
	margin-top: -0.2vw;
	margin-left: -0.4vw;
	
	width: 0;
	height: 0;
	
	border: 0.45vw solid transparent;
	border-right-color: #5ddddf;
	border-left: 0;
}
.My_Chat:after {
	
	position: absolute;
	
	content: '';
	
	right: 0; top: 50%;
	margin-top: -0.2vw;
	margin-right: -0.4vw;
	
	width: 0;
	height: 0;
	
	border: 0.4vw solid transparent;
	border-left-color: #2eacd6;
	border-right: 0;
}

.Chat_Detail {
	
	font-size:0.85em;
	
	width:70%;
	height:auto;
	
	padding:1vh;
	
	position: relative;
	border-radius: .6em;
	
	color:white;
}

#Chat_Middle::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#Chat_Middle::-webkit-scrollbar{ 
	width: 10px;
	background-color: #F5F5F5;
}
#Chat_Middle::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Chat_Bottom {
	position: absolute;
	width: 100%;
	height: 7vh;
	bottom: 0;
	background: white;;
	border-radius: 0 0 10px 10px;
}

#Chat_Input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;

}

#Chat_Input::placeholder {
	color: #A1E2D9;
}

#Chat_Input:focus {
	color: #777777;
	outline: 0;
}

#Chat_Button { 
	
	position: absolute;
	border: 0;
	top:  13px;
	opacity: 0.8;
	right: 12px;
	cursor: pointer;
	outline: 0;
	background-color:white;
}

#Chat_Button:after { 
	width:30px;
	height:30px;
	
	content:"";
	background-image: url("../../img/Course/Paper.png");
	display:inline-block;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.Icon { 
	
	width:2.8vw;
	height:5vh;
	
	margin-right:1vw;
	z-index:50;
	cursor:pointer;
}

.Search_Area { 
	 width:42vw;
	 height:83vh;
	 position:absolute;
	
	 margin-left: 3vw;
	 margin-top:11vh;
	
	 background-color: rgba(170,228,238, 0.75);
	 border-radius: 20px;
	 border-top : 25px solid #2c91ee;
	 
	 box-shadow: 7px 7px 20px rgb(119 119 119 / 60%);
	 
	 overflow-y:auto;
	 overflow-x:hidden;
}

.Search_Area::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.Search_Area::-webkit-scrollbar{ 
	width: 10px;
	background-color: #F5F5F5;
}
.Search_Area::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.Hotel_One {
	width:234px;
	height:292px;
	
	padding:10px;
	
	display:inline-block;
	
	border:white 0.3vw double;
	
	margin-left:1vw;
	margin-top:1vw;
	
	background-color: rgba(255, 255, 255, 0.75);
	
	z-index:32;
	
	cursor:crosshair;
}
.Hotel_Img {
	width:100%;
	height:45%;
	display:inline-block;
	
	cursor:pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.Food_One {
	width:234px;
	height:292px;
	
	padding:10px;
	
	display:inline-block;
	
	border:white 0.3vw double;
	
	margin-left:1vw;
	margin-top:1vw;
	
	background-color: rgba(255, 255, 255, 0.75);
	
	z-index:32;
	
	cursor:crosshair;
}
.Food_Img {
	width:100%;
	height:45%;
	display:inline-block;
	
	cursor:pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.GP_One {
	width:234px;
	height:292px;
	
	padding:10px;
	
	display:inline-block;
	
	border:white 0.3vw double;
	
	margin-left:1vw;
	margin-top:1vw;
	
	background-color: rgba(255, 255, 255, 0.75);
	
	z-index:32;
	
	cursor:crosshair;
}
.GP_Img {
	width:100%;
	height:45%;
	display:inline-block;
	
	cursor:pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Bus {
	width:810px;
	height:500px;
}

.Bus_Img {
	width:810px;
	height:500px;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Map {
	width:890px;
	height:483px;
}

.Map_Img {
	width:890px;
	height:483px;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

#Making_Area { 
	 width:42vw;
	 height:83vh;
	 position:absolute;
	
	 margin-left: 53vw;
	 margin-top: 11vh;
	
	 background-color: rgba(21,155,218,0.8);
	 border-radius: 20px;
	 border-top : 25px solid #0C3E72;
	 
	 box-shadow: 7px 7px 20px rgb(119 119 119 / 60%);
	 
	 overflow-y:auto;
	 overflow-x:hidden;
}

#Making_Area::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#Making_Area::-webkit-scrollbar{ 
	width: 10px;
	background-color: #F5F5F5;
}
#Making_Area::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.Detail {
	overflow-y:scroll;
}

.Detail::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.Detail::-webkit-scrollbar{ 
	width: 5px;
	background-color: #F5F5F5;
}
.Detail::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.Heart_In {
	position:absolute;
	
	margin-left:0.3vw;
	margin-top:1vh;
	
	width:2vw;
	height:2vw;
}

.OF {
	position:absolute;
	
	margin-left:0.5vw;
	margin-top:1vh;
	width:1.5vw;
	height:1.5vw;
}

.Index_Num {
	position:absolute;
	
	margin-left:2.7vw;
	margin-top:0.9vh;
	
	width:2.1vw;
	height:2.1vw;
	
	border-radius: 1vw;
	
	background-color:rgba(164, 248, 164, 1);
	color:red;
	
	font-size:1.2vw;
	
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
}

.Index_Num_Map {
	position:absolute;
	
	margin-left:0px;
	margin-top:0px;
	
	width:1.7vw;
	height:1.7vw;
	
	border-radius: 1vw;
	
	background-color:rgba(164, 248, 164, 1);
	color:red;
	
	font-size:1.2vw;
	
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.Sticker_One {
	
	margin-top:2vh;
	margin-left:1vw;
	
	width:12vw;
	height:auto;
	display:inline-block;
	
	border:1px double white;
	
	cursor:pointer;
	
	position:relative;
	z-index:32;
}

.Sticker {
	width:100%;
}

.Cycle {
	width:1vw;
	height:1vw;
	
	position:absolute;
	
	margin-left:-1.5vw;
	margin-top:0.5vh;
	
	opacity:0;
}

.info {
	cursor:crosshair;
	padding:0.6vh;
	
	z-index:31;
}

.info h5 {
	font-size:1vw;
}

#Q_List {
	width:90%;
	height:6vh;
	background-color:white;
	border:2px white double;
	
	position:absolute;
	
	margin-left:5%;
	margin-top:-10vh;
	
	background-color: rgba(255, 255, 255, 0.8);
}

#canvas {
	width:1960px;
	height:1280px;
	z-index:0;
	position:absolute;
}


#Pencil {
	 width:330px;;
	 height:230px;
	 position:absolute;
	
	 margin-left:78vw;
	 margin-top:53vh;
	
	 background-color: rgba(12,62,114,0.75);
	 border-radius: 20px;
	 border-top : 25px solid #150273;
	 
	 box-shadow: 7px 7px 20px rgb(119 119 119 / 60%);
	 
	 z-index:29;
}

#Pencil_Close {
	position:absolute;
	
	width:1.5vw;
	height:1.5vw;
	
	margin-top:1%;
	margin-left:90%;
	
	z-index:49;
}
		    
.Pencil_In {
	width:40px;
	height:40px;
	display:inline-block;
	margin:5px;
	border-radius: 10px;
	cursor:pointer;
}

.Pencil_In img {
	width:40px;
	height:40px;
}

#Pencil_Pencil {
   margin-left:15px;
   background-color:rgba(0, 0, 0, 0.7);
}

.Color_Box_All{
  width: 330px;
  height: 150px;
}

.Color_Pallet{
  width: 330px;
  height: 250px;

}

.Color_Active{
  outline: 1px solid black;
}

.Color_Box_One{
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 1px 0px 0px;
  cursor: pointer;
}

#Pallet_Box {
	padding:12px;
}

.seek-bar {
	position:relative;
	width:180px;
	height:10px;
	background:#222;
	border-radius:5px;
	display:inline-block;
	margin-left:15px;
	margin-bottom:10px;
}
.seek-bar>.circle {
	cursor:grab;
	position:absolute;
	left:0; top:50%;
	width:30px; height:30px;
	transform:translate(-50%,-50%);
}

.seek-bar>.circle>span { 
	position:absolute;
	display:block;
	width:30px;
	line-height:30px;
	left:50%; top:50%;
	transform:translate(-50%,-50%);
	background:#2196f3;
	border-radius:100%;
	text-align:center;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#Queue_All {
	width:50%;
	min-height:10%;
	
	margin-left: 48.5vw;
	margin-top:83vh;
	
    background-color: rgba(170,228,238, 0.75);
	border-radius: 20px;
	border-top : 25px solid #2c91ee;
	 
	box-shadow: 7px 7px 20px rgb(119 119 119 / 60%);
	 
	overflow-y:auto;
	overflow-x:hidden;
	
	position:absolute;
	
	z-index:31;
}

#Queue_All div {text-align:center; }

.Queue_List {
	width:95%;
	height:auto;
	
	margin:auto;
	margin-top:5px;
	
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
    
    flex-wrap: wrap;
}

.Queue_One {
	width:4vw;
	height:4vw;
	font-weight: 600;
	
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
	
	border:double 5px #113c52;
	border-radius: 20px;
	
	background:linear-gradient(#0a4658, #2198d7);
	
	text-align:center;
	
	padding:1px;
	color:white;
	
	cursor:pointer;
}

.Queue_One a { 
	color: white; 
	font-size:0.8vw;
	text-decoration:none;
}

.Queue_Next {
	width:4vw;
	height:4vw;
	
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
	
	background:url("../../img/Course/Next.png");
	background-size: cover;
}

#Queue_Size {
	position:absolute;
	
	margin-left:0.75vw;
	margin-top:1vh;
	width:1.5vw;
	height:1.5vw;
	z-index:35;
}