@charset "UTF-8";

.breadcrumb_iner_item span { color : white; }

.Detail {
	width:257px;
	height:321px;
}
	
#detail_area { 
	width:1280px;
	height:850px;
	
	border:5px white double;
	padding:0;
	
	position:absolute;
	
	left:0; right:0; margin-left:auto; margin-right:auto;
	
	overflow:scroll;
	
	background-color: rgba(21,155,218,0.8);
}


#detail_area::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#detail_area::-webkit-scrollbar{ 
	width: 10px;
	background-color: #F5F5F5;
}
#detail_area::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

#course_heart {
	cursor:pointer;
}

/* ================================================================= */
/* ================================================================= */

#q_list_detail {
	width:80%;
	height:12vh;
	margin : auto;
	
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
    
    background-color:rgba(255, 255, 255, 0.8);
    
    padding-top:1.3vh;
           
}

.Queue_One {
	width:5vw;
	height:8.5vh;
}

.q_one {
	width:100px;
	height:100px;
	font-weight: 600;
	
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
	
	border:double 5px #113c52;
	border-radius: 20px;
	
	background:linear-gradient(#0a4658, #2198d7);
	
	text-align:center;
	
	padding:1px;
	color:white;
}

.q_one a { color: white; }

.q_next {
	width:100px;
	height:100px;
	
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
	
	background:url("../../img/Course/Next.png");
}

/* ================================================================= */
/* ================================================================= */

#review {
	width:50%;
	margin-top:920px;
	
	border: 5px double #F5F5F5;
	
	position:absolute;
	
	left:0; right:0; margin-left:auto; margin-right:auto;

}

#review_input_area {
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
    
    margin-top:10px;
    margin-bottom:10px;
}

#input_button {
    padding: 5px;
    background-color: #2198d7;
    border: none;
    border-radius: 10px;
    color: black;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 15px;
    margin: 10px 2px;
    width: 75px;
    height:65px;
    transition: all 0.3s ease 0s;
    border:5px double #2198d7;;
}

#input_button:hover {
    background-color: white;
}

.input_content {
	width:50%;
	height:70px;
	border:4px double #2198d7;
	resize:none;
}

/* ================================================================= */
/* ================================================================= */

.review_one {
	width:100%;
	height:100px;
	
	border: 5px double #F5F5F5;
	background-color:rgb(212, 244, 250);
}

.pf_img {
	width:60px; height:60px;
	margin:5px;
	position:absolute;
	display:inline-block;
}

.review_detail {
	position:absolute;
	width:80%;
	margin:auto;
	margin-left:85px;
	display:inline-block;
}

.review_icon {
	position:absolute;
	display:inline-block;
	right:-13%;
	cursor:pointer;
	width:200px
}

.user_id {
	font-weight:500;
	font-size:20px;
}

.date {
	font-size:10px;
}

.content {
	width:108%;
	font-size:15px;
	overflow:auto;
	height:50px;
}

.content::-webkit-scrollbar-track{ 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.content::-webkit-scrollbar{ 
	width: 10px;
	background-color: #F5F5F5;
}
.content::-webkit-scrollbar-thumb{ 
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* ================================================================= */
/* ================================================================= */