<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="adminpage">
  	
  	<resultMap type="user_dto" id="user_map">
  		<result property="user_no" column="USER_NO"/>
  		<result property="user_id" column="USER_ID"/>
  		<result property="user_pw" column="USER_PW"/>
  		<result property="user_name" column="USER_NAME"/>
  		<result property="user_email" column="USER_EMAIL"/>
  		<result property="user_nickname" column="USER_NICKNAME"/>
  		<result property="user_postcode" column="USER_POSTCODE"/>
  		<result property="user_address" column="USER_ADDRESS"/>
  		<result property="user_extraaddress" column="USER_EXTRAADDRESS"/>
  		<result property="user_detailaddress" column="USER_DETAILADDRESS"/>
  		<result property="user_reg_date" column="USER_REG_DATE"/>
  		<result property="user_able" column="USER_ABLE"/>
  		<result property="user_role" column="USER_ROLE"/>
  	</resultMap>
  	
  	
  	<resultMap type="report_dto" id="report_map">
  		<result property="report_no" column="REPORT_NO"/>
  		<result property="report_reason" column="REPORT_REASON"/>
  		<result property="report_content" column="REPORT_CONTENT"/>
  		<result property="report_userno" column="REPORT_USERNO"/>
  		<result property="report_target_userno" column="REPORT_TARGET_USERNO"/>
  		<result property="report_date" column="REPORT_DATE"/>
  		<result property="report_done_date" column="REPORT_DONE_DATE"/>
  		<result property="report_confirm" column="REPORT_CONFIRM"/>
  		<result property="report_user_id" column="REPORT_USER_ID"/>
  		<association property="user_dto" resultMap="user_map" />
  	</resultMap>
  	
  	<resultMap type="qa_dto" id="qa_map">
  		<result property="qa_no" column="QA_NO"/>
  		<result property="qa_name" column="QA_NAME"/>
  		<result property="qa_title" column="QA_TITLE"/>
  		<result property="qa_content" column="QA_CONTENT"/>
  		<result property="qa_email" column="QA_EMAIL"/>
  		<result property="qa_date" column="QA_DATE"/>
  		<result property="qa_done_date" column="QA_DONE_DATE"/>
  		<result property="qa_confirm" column="QA_CONFIRM"/>
  	</resultMap>
  
  	<select id="select_user_list" resultMap="user_map">
  		SELECT * 
		FROM USERBOARD
		ORDER BY USER_NO DESC 
  	</select>
  	
  	<select id="select_report_list" parameterType="user_dto" resultMap="report_map">
  		SELECT REPORTBOARD.*,B.*,A.USER_ID AS "REPORT_USER_ID"
		FROM REPORTBOARD
	    LEFT JOIN USERBOARD A ON REPORT_USERNO = A.USER_NO
	    LEFT JOIN USERBOARD B ON REPORT_TARGET_USERNO = B.USER_NO
		ORDER BY REPORT_NO
  	</select>
  	
  	<select id="select_qna_list" resultMap="qa_map">
  		SELECT *
  		FROM QABOARD
  		ORDER BY QA_NO DESC
  	</select>
  	
  	<update id="qna_confirm" parameterType="int">
  		UPDATE QABOARD
		SET QA_DONE_DATE = SYSDATE, QA_CONFIRM = 'Y'
		WHERE QA_NO = #{qa_no} 
  	</update>
  	
  	<update id="report_confirm" parameterType="int">
  		UPDATE REPORTBOARD
		SET REPORT_DONE_DATE = SYSDATE, REPORT_CONFIRM = 'Y'
		WHERE REPORT_NO = #{report_no} 
  	</update>
  	
  	<update id="report_ban_confirm" parameterType="map" statementType="CALLABLE">
  	{call
  	declare
	begin
  			UPDATE REPORTBOARD
			SET REPORT_DONE_DATE = SYSDATE, REPORT_CONFIRM = 'B'
			WHERE REPORT_NO = #{report_no};
			UPDATE USERBOARD
			SET USER_ABLE = 'N'
			WHERE USER_NO = #{report_target_userno};
  	end
  	}
  	</update>
  	
  	
  	<update id="report_unban_confirm" parameterType="map" statementType="CALLABLE">
  	{call
  	declare
	begin
  			UPDATE REPORTBOARD
			SET REPORT_DONE_DATE = SYSDATE, REPORT_CONFIRM = 'Y'
			WHERE REPORT_NO = #{report_no};
			UPDATE USERBOARD
			SET USER_ABLE = 'Y'
			WHERE USER_NO = #{report_target_userno};
  	end
  	}
  	</update>
  	
  	<delete id="qna_selected_delete" parameterType="java.util.List">
  		DELETE FROM QABOARD
  		WHERE QA_NO IN (
  			<foreach collection="list" item="selected_list" index="index" separator="," >
				${selected_list}
  			</foreach>
  		)
  	</delete>
  	
  	<delete id="qna_all_delete">
  		DELETE FROM QABOARD
  	</delete>
  	
  	<delete id="user_selected_delete" parameterType="java.util.List">
  		DELETE FROM USERBOARD
  		WHERE USER_NO IN (
  			<foreach collection="list" item="selected_list" index="index" separator="," >
				${selected_list}
  			</foreach>
  		)
  	</delete>
  	
  	<delete id="user_all_delete">
  		DELETE FROM USERBOARD
  		WHERE USER_ROLE != 'ADMIN'
  	</delete>
  	
  	<delete id="report_selected_delete" parameterType="java.util.List">
  		DELETE FROM REPORTBOARD
  		WHERE REPORT_NO IN (
  			<foreach collection="list" item="selected_list" index="index" separator="," >
				${selected_list}
  			</foreach>
  		)
  	</delete>
  	
  	<delete id="report_all_delete">
  		DELETE FROM REPORTBOARD
  	</delete>
  </mapper>